{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  <h1> 네이버 영화 검색 API</h1>

  <form action="{% url 'movie:api_search' %}" method="GET" >
      <input class="form-control" name="q" placeholder="검색할 단어를 입력">
      <input class="btn btn-primary" type="submit" value="검색">
  </form>

  <!-- Trigger the modal with a button -->
  <!--<button type="button" class="btn btn-info btn-lg modal-lg" data-toggle="modal" data-target="#myModal">이번주 영화로 선정하기</button>-->
  <!-- Modal -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" >
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <form action="{% url 'movie:select' %}" method="GET">
          <div class="modal-content">
            <div class="modal-header">
             <div class="form-group">
              <div class="input-group">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!--<h4 class="modal-title"><p><input type="text" class="input-sm" id="movieTitle"/></p></h4>-->
                <h3><input type="text" name="movieTitle" id="movieTitle" class="input-sm"></h3>
                <!--<h4<input type="text" class="input-sm" id="movieTitle"/>-->
              </div>
             </div>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
              <img id="movieImage" src="{{ item.image }}" width="400" height="400">
              <button>사진 변경</button>
              <input type="text" name="movieDirector" id="movieDirector" class="input-sm" style="display:none;">
              <input type="text" name="movieActor" id="movieActor" class="input-sm" style="display:none;">
              <input type="text" name="movieRating" id="movieRating" style="display:none;">
              <input type="text" name="movieImageLink" id="movieImageLink" style="display:none;">

              <!-- 캘린더 -->
              <div id="datetimepicker1" class="input-append date">
                <label for="idTourDateDetails">선정일</label>
                  <div class="form-group">
                      <div class="input-group">
                        <input type="date" name="idTourDateDetails" id="idTourDateDetails" class="form-control clsDatePicker"> <span class="input-group-addon"><i id="calIconTourDateDetails" class="glyphicon glyphicon-th"></i></span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-default btn-success btn-block" >Submit</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  <!-- Modal End -->

  <table class="table table-condensed table-hover table-bordered" id="movie_api">
    <thead class="thead-inverse">
      <tr>
        <th>번호</th>
        <th>포스터</th>
        <th>제목(출시연도)</th>
        <th>감독</th>
        <th>배우</th>
        <th>평점</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr id="tr_{{ forloop.counter }}">
          <td>{{ forloop.counter }}</td>
          <td>
          {% if item.image %}
            <!--이미지가 있으면 네이버가 제공하는 포스터 사용-->
            <img src="{{item.image}}"  width="110" height="150" data-toggle="modal" data-img-url="{{item.image}}" >
          {% else %}
            <!--이미지가 없으면 디폴트 이미지를 출력-->
            <img src="{% static 'images/no-image.png' %}" alt="" width="110" height="150">
          {% endif %}
          </td>
          <td> {{ item.title|safe }} ({{ item.pubDate }})</td>
          <td> {{ item.director }}</td>
          <td> {{ item.actor }}</td>
          <td> {{ item.userRating }}</td>
          <td style="display:none;"> {{ item.image }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}

