{% extends 'base/base.html' %}
{% block content %}


  <h1> 네이버 영화 검색 API</h1>


  <form action="{% url 'movie:api_search' %}" method="GET">
      <input name="q" placeholder="검색할 단어를 입력">
      <input type="submit" value="검색">
  </form>

  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">이번주 영화로 선정하기</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal End -->

  <table class="table">
    <thead>
      <tr>
        <th>번호</th>
        <th>포스터</th>
        <th>제목(출시연도)</th>
        <th>감독</th>
        <th>배우</th>
        <th>평점</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td> <img src="{{item.image}}" alt="" width="110" height="150"> </td>
          <td> {{ item.title|safe }}( {{ item.pubDate }} )</td>
          <td> {{ item.director }}</td>
          <td> {{ item.actor }}</td>
          <td> {{ item.userRating }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

 {% endblock %}
